@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
*{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
}

:root{
    --primary: #121212;
    --secondary: #3b3561;
    --third: #595092;
    --fourth #C3E8EE;
    --gray: #e5e5e5;
    --white: #FFFFFF;
    --black: #000000;
}

/*HEDER*/
header {
    background-color: var(--primary);
    padding: 10px;
}

a {
    text-decoration: none;
}

.abrir {
    color: var(--white);
    font-size: 25px;
}

/*MENU*/
nav {
    height: 100%;
    width: 0px;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
}

.x {
    display: flex;
    justify-content: center;
}

nav h1 {
    font-size: 40px;
    color: var(--white);
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

nav section {
    display: block;
    justify-content: center;
    padding: 20px;
    transition: all 0.5s;
}

nav section img {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    margin-bottom: -0.5rem;
}

nav section a {
    color: var(--white);
    font-size: 25px;
}

nav section:hover {
    background-color: var(--gray);
}

nav > section > img:hover {
    background-color: var(--gray);
}

nav > section > a:hover {
    color: var(--primary);
    text-decoration: underline;
}

/*MAIN*/
main {
    padding: 20px;
    min-height: 100%;
    transition: margin-left 0.3s;
}

.h1p {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
}

main div > h1{
    color: var(--secondary);
}

main h1 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 60px;
}

.principal {
    display: flex;
    justify-content: center;
    width: 95%;
}

footer {
    background-color: var(--primary);
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom:0;
}

h6 {
    color: var(--gray);
    font-size: 8px;
    margin-right: 8px;
}

.seta {
    color: var(--secondary);
    font-size: 1.5rem;
    margin-top: 4rem;
}

.seta:hover{
    color: var(--primary);
    font-weight: bold;
}

.feito {
    margin: 1rem;
    color: var(--secondary);
}