@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
*{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
}

:root{
    --primary: #121212;
    --secondary: #3b3561;
    --third: #595092;
    --fourth #C3E8EE;
    --gray: #e5e5e5;
    --white: #FFFFFF;
    --black: #000000;
}

.ini {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: -1.6rem;
    margin-bottom: 0.5rem;
    margin-right: 2px;
}

.texti {
    color: var(--white);
    transition: all 0.4s;

}
div > a:hover {
    color: var(--third);
}

.img {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
}

div img {
    margin: 1.5rem 0;
}

main h1 {
    color: var(--primary);
}